/* Cores */
:root {
    --header-top-bar-background-color: #4fa7da;
    --header-text-color: white;
    --header-bottom-bar-background-color: aliceblue;
    --header-searcher-background-color: #e1e7f1;
    --header-searcher-border: 0.05rem solid black;
    --background-color: #F7F7F7;
    --foreground-color: #FFFFFF;
    --link-hover-color: #85d2ff;
}