/* Cores */
:root {
    --header-top-bar-background-color: #4fa7da;
    --header-bottom-bar-background-color: aliceblue;
    --background-color: #F7F7F7;
    --foreground-color: #FFFFFF;
    --link-hover-color: rgb(255, 255, 255);
}