@import "./colors.css";

/* Cor de fundo */
body {
    background-color: var(--background-color);
}

/* Remove estilização dos links */
a {
    all: unset;
    text-decoration: none;
}

/* Links com interação */
.hover-interaction-link {
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.hover-interaction-link:hover {
    color: var(--link-hover-color);
}

/* Definições globais de estilização de texto */
* {font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;}
p {font-size: 1rem;}

/* Define classes para estilização de texto */
.text-center {text-align: center;}
.text-justify {text-align: justify;}