@import "./colors.css";


/* **************** AJUSTE DE POSICIONAMENTO DO HEADER **************** */

/* Contêiner da barra de navegação */
#header-container {
    padding-top: 22vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}


/* **************** SEÇÃO SUPERIOR DO HEADER **************** */

/* Seção superior da barra de navegação */
#header-top-bar {
    padding: 1rem 1rem;
    width: 100%;
    max-width: 100%;
    max-height: 12vh;
    background-color: var(--foreground-color);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--box-shadow);
}

/* Imagens para a barra superior */
.header-top-bar-img {
    height: 6vh;
    width: auto;
    filter: brightness(0) invert(1);
}


/* Seção esquerda da barra superior */
#header-top-bar-title {
    justify-content: flex-start;
}

/* Texto do título (h1) */
#header-title-text {
    height: 100%;
    font-size: 10vh;
}

/* Coloração do texto */
.header-top-bar-text {
    color: var(--header-top-bar-text-color);
}


/* Seção central da barra superior */
#header-top-bar-search {
    justify-content: center;
    display: flex;
}

/* Caixa de pesquisa */
#header-searcher {
    justify-content: baseline;
    width: 40vw;
    height: 5vh;
    background-color: var(--header-searcher-background-color);
    border: var(--header-searcher-border);
}

/* Posiciona a imagem de pesquisa */
#header-top-bar-search-img-container {
    justify-content: baseline;
    width: 5vh;
    height: 5vh;
    background-color: var(--header-searcher-background-color);
    border: var(--header-searcher-border);
}

/* Imagem para a pesquisa */
#header-top-bar-search-img {
    width: 100%;
    height: auto;
    filter: brightness(0%);
}


/* Seção para o status de usuário */
#header-top-bar-user {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

/* Imagem para o usuário */
#header-top-bar-user-img {
    height: 6vh;
    justify-content: flex-start;
}

/* Contêiner dos elementos textuais */
#header-top-bar-user-text-container {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

/* Ajuste de posição dos textos */
#header-top-bar-user-p1 {justify-content: flex-start;}
#header-top-bar-user-p2 {justify-content: flex-end;}


/* Seção direita da barra superior */
#header-top-bar-shop {
    justify-content: flex-end;
}

/* Imagem para o carrinho */
#header-top-bar-cart-img {
    height: 6vh;
}



/* **************** SEÇÃO INFERIOR DO HEADER **************** */

/* Seção inferior da barra de navegação */
#header-bottom-bar {
    padding: 1rem 1rem;
    width: 100%;
    max-height: 6vh;
    background-color: var(--header-bottom-bar-background-color);
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.281);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

/* Itens com links */
.header-bot-bar-item {
    justify-content: baseline;
}

/* Coloração do texto */
.header-bot-bar-text {
    color: var(--header-bottom-bar-text-color);
}