/* Definições globais de estilização de texto */
* {font-family: Georgia, 'Times New Roman', Times, serif;}
p {font-size: 1rem;}

/* Define classes para estilização de texto */
.text-center {text-align: center;}
.text-justify {text-align: justify;}