/* ID's */

#top-nav-bar {
    top: 0;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 7.0rem;
    position: fixed;
    margin-bottom: 2rem;
}

#upper-nav-bar {
    width: 100%;
    height: 4.5rem;
    background-color: #a1d0eb;
}

#lower-nav-bar {
    width: 100%;
    height: 2.5rem;
    background-color: aliceblue;
}