@import "./colors.css";

/* Container da barra de navegação */
#top-nav-bar {
    top: 0;
    height: 25%;
    width: 100%;
    position: fixed;
}

/* Seção superior da barra de navegação */
#upper-nav-bar {
    padding: 1% 1%;
    width: 100%;
    height: 75%;
    background-color: var(--top-nav-upper-bar-background-color);
    display: flex;
    justify-content: center;
}

/* Imagens para a barra superior */
.upper-nav-bar-img {
    height: 100%;
    width: auto;
    filter: brightness(0%);
}

/* Seção esquerda da barra superior */
#upper-nav-bar-title {
    justify-content: flex-start;
}

/* Texto do título (h1) */
#top-nav-bar-title-text {
    text-align: center;
    height: 100%;
}

/* Seção central da barra superior */
#upper-nav-bar-search {
    justify-content: center;
    display: inline-block;
}

/* Caixa de pesquisa */
#top-nav-bar-searcher {
    width: auto;
    height: 100%;
}

/* Ícone de pesquisa */
#upper-nav-bar-search-img {
    border: 0;
}

/* Seção direita da barra superior */
#upper-nav-bar-shop {
    justify-content: flex-end;
}

/* Seção inferior da barra de navegação */
#lower-nav-bar {
    padding: 1% 1%;
    width: 100%;
    height: 25%;
    background-color: var(--top-nav-lower-bar-background-color);
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.281);
}