@import "./colors.css";

/* Cor de fundo */
body {
    background-color: var(--background-color);
}

/* Remove estilização dos links */
a {
    all: unset;
    text-decoration: none;
}

/* Links com interação */
.hover-interaction-link, .hover-interaction-link-alternative {
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.hover-interaction-link:hover {
    color: var(--link-hover-color);
}
.hover-interaction-link-alternative:hover {
    text-decoration: underline;
    color: var(--link-hover-color-alternative);
}

/* Definições globais de estilização de texto */
p, h1, h2, h3, h4, h5, h6 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
p {font-size: 1rem;}

/* Define classes para estilização de texto */
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-common-color {color: var(--text-color);}
.text-darker-color {color: var(--darker-text-color)}

/* Contêiner de conteúdo da página */
#main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25vh;
}

/* Para subtítulos */
.subtitle {
    font-size: 2.5rem; 
    color: var(--text-color);
    margin-top: 5vh;
    margin-bottom: 5vh;
}